
@{
    ViewBag.Title = "_Automotor";
}


@using (Ajax.BeginForm("AutomotoresResultado", "Acta", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "tablaAutomotores"

}))
{
    <p>
        Buscar por número de dominio, tipo de vehículo, marca o modelo: @Html.TextBox("searchString", null, new { maxlength = 50, onkeypress = "return noAlfanumericos(event)" })
        <input type="submit" id="search" class="btn btn-success btn-xs" value="Buscar" />
    </p>
}


<div id="tablaAutomotores">
</div>

