
@{
    ViewBag.Title = "_Automotor";
}


@using (Ajax.BeginForm("AutomotoresResultado", "Acta", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "tablaAutomotores"

}))
{
    <p>
        Buscar por número de dominio: @Html.TextBox("searchString")
        <input type="submit" id="search" class="btn btn-success btn-xs" value="Buscar" />
    </p>
}


<div id="tablaAutomotores">
</div>

