
@{
    ViewBag.Title = "_Inspector";
}

@using (Ajax.BeginForm("InspectoresResultado", "Acta", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "tablaInspectores"

}))
{
    <p>
        Buscar por nombre y/o apellido o matrícula: @Html.TextBox("searchString", null, new { maxlength = 70, onkeypress = "return noAlfanumericos(event)"})
        <input type="submit" id="search" class="btn btn-success btn-xs" value="Buscar" />
    </p>
}


<div id="tablaInspectores">
</div>

