@model IEnumerable<PGMActas_V2.ViewModels.Pais>
@{
    ViewBag.Title = "_PaisesResultado";
}


<div style="display:grid">
    <table>
        <thead>
            <tr class="table100-head" style="border-bottom: 2px solid #4caf50">
                <th class="column1" style="padding: 0.3rem">ID PAIS</th>
                <th class="column2" style="padding: 0.3rem"> PAIS </th>
                <th class="column2" style="padding: 0.3rem"> SELECCIONAR </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var pais in Model)
            {
                <tr>
                    <td>@pais.id_pais</td>
                    <td>@pais.pais</td>
                    <td>
                        <button class="btn btn-success" id="@pais.pais">
                            Llenar
                        </button>
                    </td>



                </tr>
            }


        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('button.btn-success').click(function () {
            var s = $(this).attr('id');
            $("#inspectorID").attr("value", s);
        })
    });

</script>
