
@{
    ViewBag.Title = "_Paises";
}


@using (Ajax.BeginForm("PaisesResultado", "Acta", new AjaxOptions
{//GetPatients is name of method in PatientController
    InsertionMode = InsertionMode.Replace, //target element(#patientList) will be replaced
    HttpMethod = "POST",
    UpdateTargetId = "tablaPaises"//,
                                   //LoadingElementId = "loader" // div with .gif loader - that is shown when data are loading
}))
{
    <p>
        Buscar por id o pais: @Html.TextBox("searchString")
        <input type="submit" id="search" class="btn btn-success btn-xs" value="Buscar"/>
    </p>
}


<div id="tablaPaises">
</div>
