
@{
    ViewBag.Title = "_Persona";
}

@using (Ajax.BeginForm("PersonasResultado", "Acta", new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST",
    UpdateTargetId = "tablaPersona"

}))
{
    <p>
        Buscar por nombre y/o apellido o número de documento : @Html.TextBox("searchString", null, new { maxlength = 70, onkeypress = "return noAlfanumericos(event)" })
        <input type="submit" id="search" class="btn btn-success btn-xs" value="Buscar" />
    </p>
}


<div id="tablaPersona">
</div>

